.wallpaper {
	position: absolute;
	left: 37px;
	top: 121px;
	height: 733px;
	width: 418px;
	background-image: url("Wallpaper/Default.jpg");
}

.icon.mail {
	border: 5px solid white;
	height: 80px;
	width: 80px;
	position:absolute;
	left: 20px;
	top: 100px;
	background-image: url("Icons/11.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
}

#mail {
	position: absolute;
	top: 75px;
	left: 25px;
	color: white;
}